[core]
	editor = \"C:\\Users\\kamac\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe\" --wait
[user]
	name = kamack38
	email = 64226248+kamack38@users.noreply.github.com
	signingkey = C4583B304CDA4CA0
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[gpg]
	program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
[alias]
	dtf = !git --git-dir=$HOME/.dotfiles --work-tree=$HOME
	rdtf = !git --git-dir=$HOME/.dotfiles --work-tree=$HOME/.dotfiles
	alias = !git config --list | grep ^alias\\. | cut -c 7- | grep -Ei --color \"$1\" "#"
	gconfig = !git config --global

# URL shorthands

[url "git@github.com:"]

	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"

[url "git://github.com/"]

	insteadOf = "github:"

[url "git@gist.github.com:"]

	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]

	insteadOf = "gist:"
